<!DOCTYPE html>
<html>
  <head>
    <title>__title</title>
    <link ref="stylesheet" href="style.css">
  </head>
  <body>
    <h1>m4ke</h1>
    <hr/>
    <a href="00_about.html">About</a> |
    <a href="00_posts.html">Posts</a> |
    <a href="00_contact.html">Contact</a>
    <hr/>
    <h2>__title</h2>
    __timestamp<br/>
    <div class="content">

